@page
@model OpportunityTracker.Pages.IndexModel

@{
    ViewData["Title"] = "Opportunity Index";
}

<h2>Opportunities</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<h3>Filters</h3>
@{ 
    var activeOnlyCurrent = Model.showIsActive==true ? "current" : "";
    var inactiveOnlyCurrent = Model.showIsActive == false ? "current" : "";
    var bothCurrent = !Model.showIsActive.HasValue ? "current" : "";
}
<p>
    <a asp-page="./Index" asp-route-isActive="true"
       class="@activeOnlyCurrent">Active only</a>
    <a asp-page="./Index" asp-route-isActive="false"
       class="@inactiveOnlyCurrent">Inactive only</a>
    <a asp-page="./Index" 
       class="@bothCurrent">All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Opportunity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
