@page
@model OpportunityTracker.Pages.Opportunity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Opportunity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OpportunityID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OpportunityID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OpportunityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
